@import url('https://fonts.googleapis.com/css?family=Lato:200,400|Playfair+Display');

body {
    background-image: linear-gradient(190deg, rgba(0, 0, 99, .05) 10%, rgba(0, 0, 255, .19) 100%);
    padding: 0;
    margin: 0;
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    color: #5d1c00;

    h2 {
        font-size: 2.3em;
        letter-spacing: .15em;
        margin-top: 0.7em;
        margin-bottom: 2em;
    }
}

.wrapper-b {
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #5d1c00;
    margin-bottom: 10em;

    img {
        height: 700px;
        width: 500px;
    }

    p {
        font-size: 1.3em;
    }

    @media (max-width: 991px) {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;

        img {
            margin-bottom: 2em;
            width: 100%;
            height: 510px;
        }
    }

    @media (min-width: 1400px) {
        p {
            width: 40rem;
        }
    }

    @media (min-width: 1200px) {
        p {
            width: 30rem;
        }
    }

    @media (min-width: 992px) {
        p {
            width: 20rem;
        }
    }
}

.wrapper-t {
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #5d1c00;
    margin-bottom: 10em;

    img {
        height: 700px;
        width: 500px;
    }

    p {
        font-size: 1.3em;
    }

    @media (max-width: 991px) {
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            margin-bottom: 2em;
            width: 100%;
            height: 510px;
        }
    }

    @media (min-width: 1400px) {
        p {
            width: 40rem;
        }
    }

    @media (min-width: 1200px) {
        p {
            width: 30rem;
        }
    }

    @media (min-width: 992px) {
        p {
            width: 20rem;
        }
    }
}

.navbar, .offcanvas {
    background-color: #120c36;
    color: #edb74c;
    font-weight: 300;
}

.btn-close {
    background-color: #edb74c;
}