@import url('https://fonts.googleapis.com/css?family=Lato:200,400|Playfair+Display');

body {
    background-image: linear-gradient(190deg, rgba(0, 0, 99, .05) 10%, rgba(0, 0, 255, .19) 100%);
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    color: #5d1c00;

    h2 {
        font-size: 1.5em;
        letter-spacing: .15em;
    }

    input {
        max-width: 280px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-form {
    position: relative;
    width: 370px;
    height: auto;
    background: white;
    padding: 40px 35px 60px;
    box-sizing: border-box;
    border: 1px solid #edb74c;
    box-shadow: inset 0 0 1px #272727;
}

.custom-label {
    font-size: 1.2em;
}

.custom-input {
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #edb74c;
    font-size: 1em;
    transition: box-shadow 0.15s ease-in-out;

    &:focus {
        color: #495057;
        background-color: #fff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem #ffce6e;
    }
}

.custom-btn {
    height: 50px;
    width: 100%;
    background: white;
    border: 1px solid #edb74c;
    font-size: 1.2em;
    color: #edb74c;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background 0.15s ease-in-out;

    &:hover {
        background: #ffce6e;
        color: white;
    }
}

.navbar, .offcanvas {
    background-color: #120c36;
    color: #edb74c;
    font-weight: 300;
}

.btn-close {
    background-color: #edb74c;
}