
@{
    ViewBag.Title = "Contacts";
}

<link rel="stylesheet" href="~/Content/Contacts.min.css">

<div class="d-flex justify-content-center">
    <div class="custom-form">
        <h2 class="text-center my-2">Contatti</h2>
        <p class="h4 fw-semibold mb-1">Indirizzo</p>
        <p class="fw-semibold fs-5 mb-3">Lungomare Poetto 18, Cagliari</p>
        <p class="h4 fw-semibold mb-1">Telefono</p>
        <p class="fw-semibold fs-5 mb-3">+39 070 578 9903</p>
        <p class="h4 fw-semibold mb-1">Email</p>
        <p class="fw-semibold fs-5 mb-3">oniroricevimento@onirohotel.it</p>
    </div>
</div>

