
@{
    ViewBag.Title = "Info";
}
<link rel="stylesheet" href="~/Content/Home.min.css">

<h2 class="text-center my-4">Chi Siamo</h2>

<div id="infoCarouselAutoplaying" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.imgur.com/1V38K6s.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.imgur.com/i6W089U.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.imgur.com/tSh4ph4.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/303195538.jpg?k=7bfeb4ff6fa735f4241e36e789e149a2b0dc37bdfada8a4ae0495970d22bc6ee&o=&hp=1" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<div class="d-flex justify-content-center my-3">
    <div>
        <p class="fs-4">
            L'Oniro Luxury Boutique Hotel era in origine un ospedale militare costruito a ridosso della Prima Guerra Mondiale.
            La struttura cadde in disuso nel 1950, e solo 20 anni dopo fu ceduta a privati che la trasformarono in un hotel.
            Solo recentemente, nel 2019, sono stati avviati i lavori di completa ristrutturazione e modernizzazione dell'hotel,
            e dopo la pandemia, nel 2021, l'hotel ha riaperto i battenti con un nuovo nome e un nuovo look. <br /> <br />
            Oggi, l'Oniro Luxury Boutique Hotel è un hotel a 5 stelle di modeste dimensioni, particolarmente apprezzato e 
            adatto a chi cerca un soggiorno tranquillo, rilassante e raffinato senza spostarsi troppo lontano dal centro di Cagliari.
            Sito sul suggestivo Lungomare Poetto, infatti, l'hotel dista solo 10 minuti di auto dal centro storico di Cagliari, e allo
            stesso tempo gode della vista della rinomata Sella del Diavolo.

        </p>
    </div>
</div>