
@{
    ViewBag.Title = "Restaurant";
}
<link rel="stylesheet" href="~/Content/About.min.css">

<h2>Il Nostro Ristorante</h2>
<div class="wrapper-t">
    <img src="https://i.imgur.com/cCD401w.jpeg"/>
    <p>
        Il nostro ristorante è il posto perfetto per una cena romantica o per un pranzo rilassante.
        Il menu offre una vasta selezione di antipasti, primi, secondi e dolci. 
        Il personale di sala è sempre disponibile per consigliarvi i piatti migliori e per garantirvi un'esperienza culinaria indimenticabile.
    </p>
</div>

<div class="wrapper-b">
    <p>
        In cucina, il nostro chef stellato, Amedeo Ronza, prepara piatti della tradizione italiana con un tocco di innovazione:
        avendo lavorato in ristoranti eccellenti in Italia e all'estero, è in grado di mescolare sapori e ingredienti in modo unico.
        La sua cucina gourmet è apprezzata da tutti i nostri clienti, che tornano spesso per assaggiare le sue creazioni che 
        compiacciono sia il palato che la vista.
    </p>
    <img src="https://i.imgur.com/gZg1pNx.jpeg"/>
</div>

<div class="wrapper-t">
    <img src="https://i.imgur.com/D04nFhd.jpeg" />
    <p>
        Gli ingredienti che utilizziamo sono sempre freschi, chilometro zero e di alta qualità:
        il nostro chef sceglie personalmente i fornitori e controlla che tutto sia perfetto prima di iniziare a cucinare.
        Inoltre, il nostro ristorante è attento alle esigenze di tutti i clienti: offriamo piatti vegetariani, vegani e senza glutine.

    </p>
</div>

<div class="wrapper-b">
    <p>
        I nostri clienti ci scelgono soprattutto per la dining experience che offriamo:
        il nostro ristorante è arredato con gusto, con tavoli ben distanziati e ogni desiderio dei nostri ospiti
        viene sempre esaudito, per garantire loro dei momenti di qualità anche a tavola.
        Di giorno, la luce naturale inonda la sala, mentre di sera le luci soffuse creano un'atmosfera intima e rilassante.
    </p>
    <img src="https://i.imgur.com/b6lwT73.jpeg" />
</div>