
@{
    ViewBag.Title = "Spa";
}
<link rel="stylesheet" href="~/Content/About.min.css">

<h2>La nostra spa</h2>

<div class="wrapper-a">
    <img src="https://images.unsplash.com/photo-1660735814761-cf98731e3e73?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTM0fHxzYXVuYXxlbnwwfHwwfHx8MA%3D%3D" />
    <p>
        La nostra spa è il luogo ideale per rilassarsi e rigenerarsi,
        una sana coccola per il corpo e per la mente, per ritrovare l'equilibrio e la serenità.
        Un luogo dove dedicarsi alla cura di se stessi, lontano dallo stress e dalla frenesia della vita quotidiana.
    </p>
</div>

<div class="wrapper-b">
    <p>
        Idromassaggio, sauna e bagno turco sono solo alcuni dei servizi che offriamo ai nostri ospiti.
        La tranquillità e l'atmosfera rilassante della nostra spa vi faranno dimenticare tutti i problemi e vi faranno sentire come nuovi,
        e secondo i nostri ospiti, è uno dei motivi principali per cui tornano sempre da noi, per una vacanza all'insegna della 
        pace e del benessere.
    </p>
    <img src="https://images.unsplash.com/photo-1533093818119-ac1fa47a6d59?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzF8fHZhc2NhfGVufDB8fDB8fHwy" />
</div>

<div class="wrapper-a">
    <img src="https://i.imgur.com/fDBKyMg.jpeg" />
    <p>
        Le nostre vasche idromassaggio sono il luogo perfetto per rilassarsi e lasciarsi coccolare dall'acqua calda e dalle bollicine.
        Le piscine dispongono di un sistema di filtraggio all'avanguardia, che garantisce la massima igiene e pulizia dell'acqua.
        Le cascate d'acqua sono un tocco di classe che rende l'ambiente ancora più suggestivo e rilassante.
    </p>
</div>

<div class="wrapper-b">
    <p>
        Manicure e pedicure, massaggi e trattamenti viso e corpo sono inclusi nei pacchetti benessere che offriamo ai nostri ospiti,
        e le nostre estetiste sono sempre disponibili per consigliarvi il trattamento più adatto alle vostre esigenze.
        Il nostro esperto chiropratico, Alessio Guida, è a disposizione per alleviare i dolori muscolari e per risolvere problemi di postura.
    </p>
    <img src="https://images.unsplash.com/photo-1700760933910-d3c03aa18b65?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGVzdGV0aXN0YXxlbnwwfHwwfHx8Mg%3D%3D" />
</div>